{% extends 'header_footer.html' %} {% load static %} {% block content %}
<!-- header section end -->
<!-- cycle section start -->
<div class="cycle_section layout_padding">
  <div class="container">
    <h1 class="cycle_taital">Our cycle</h1>
    <p class="cycle_text">
      It is a long established fact that a reader will be distracted by the
    </p>
    <div class="cycle_section_2 layout_padding">
      <div class="row">
        <div class="col-md-6">
          <div class="box_main">
            <h6 class="number_text">01</h6>
            <div class="image_2">
              <img src="{% static 'images/img-2.png' %}" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="cycles_text">Cycles</h1>
          <p class="lorem_text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters
          </p>
          <div class="btn_main">
            <div class="buy_bt"><a href="#">Buy Now</a></div>
            <h4 class="price_text">
              Price <span style="color: #f7c17b">$</span>
              <span style="color: #325662">200</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="cycle_section_3 layout_padding">
      <div class="row">
        <div class="col-md-6">
          <h1 class="cycles_text">Stylis Cycle</h1>
          <p class="lorem_text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters
          </p>
          <div class="btn_main">
            <div class="buy_bt"><a href="#">Buy Now</a></div>
            <h4 class="price_text">
              Price <span style="color: #f7c17b">$</span>
              <span style="color: #325662">200</span>
            </h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box_main_3">
            <h6 class="number_text_2">02</h6>
            <div class="image_2">
              <img src="{% static 'images/img-3.png' %}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cycle_section_2 layout_padding">
      <div class="row">
        <div class="col-md-6">
          <div class="box_main_3">
            <h6 class="number_text_2">03</h6>
            <div class="image_2">
              <img src="{% static 'images/img-4.png' %}" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="cycles_text">Mordern <br />Cycle</h1>
          <p class="lorem_text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters
          </p>
          <div class="btn_main">
            <div class="buy_bt"><a href="#">Buy Now</a></div>
            <h4 class="price_text">
              Price <span style="color: #f7c17b">$</span>
              <span style="color: #325662">200</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="read_btn_main">
      <div class="read_bt"><a href="#">Read More</a></div>
    </div>
  </div>
</div>
<!-- cycle section end -->
<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container">
    <h1 class="about_taital">About Our cycle Store</h1>
    <p class="about_text">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters
    </p>
    <div class="about_main">
      <img src="{% static 'images/img-5.png' %}" class="image_5" />
    </div>
    <div class="read_bt_1"><a href="#">Read More</a></div>
  </div>
</div>
<!-- about section end -->
<!-- client section start -->
<div class="client_section layout_padding">
  <div id="my_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="client_main">
            <h1 class="client_taital">Says Customers</h1>
            <div class="client_section_2">
              <div class="client_left">
                <div>
                  <img
                    src="{% static 'images/client-img.png' %}"
                    class="client_img"
                  />
                </div>
              </div>
              <div class="client_right">
                <div class="quote_icon">
                  <img src="{% static 'images/quote-icon.png' %}" />
                </div>
                <p class="client_text">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters
                </p>
                <h3 class="client_name">Channery</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="client_main">
            <h1 class="client_taital">Says Customers</h1>
            <div class="client_section_2">
              <div class="client_left">
                <div>
                  <img
                    src="{% static 'images/client-img.png' %}"
                    class="client_img"
                  />
                </div>
              </div>
              <div class="client_right">
                <div class="quote_icon">
                  <img src="{% static 'images/quote-icon.png' %}" />
                </div>
                <p class="client_text">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters
                </p>
                <h3 class="client_name">Channery</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="client_main">
            <h1 class="client_taital">Says Customers</h1>
            <div class="client_section_2">
              <div class="client_left">
                <div>
                  <img
                    src="{% static 'images/client-img.png' %}"
                    class="client_img"
                  />
                </div>
              </div>
              <div class="client_right">
                <div class="quote_icon">
                  <img src="{% static 'images/quote-icon.png' %}" />
                </div>
                <p class="client_text">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters
                </p>
                <h3 class="client_name">Channery</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#my_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#my_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
<!-- client section end -->
<!-- news section start -->
<div class="news_section layout_padding">
  <div class="container">
    <h1 class="news_taital">News</h1>
    <p class="news_text">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
    </p>
    <div class="news_section_2 layout_padding">
      <div class="row">
        <div class="col-sm-4">
          <div class="box_main_1">
            <div class="zoomout frame">
              <img src="{% static 'images/img-6.png' %}" />
            </div>
            <div class="padding_15">
              <h2 class="speed_text">Speed cycle</h2>
              <div class="post_text">
                Post by : Den <span style="float: right">20-12-2019</span>
              </div>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box_main_1">
            <div class="zoomout frame">
              <img src="{% static 'images/img-7.png' %}" />
            </div>
            <div class="padding_15">
              <h2 class="speed_text">Speed cycle</h2>
              <div class="post_text">
                Post by : Den <span style="float: right">20-12-2019</span>
              </div>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box_main_1">
            <div class="zoomout frame">
              <img src="{% static 'images/img-8.png' %}" />
            </div>
            <div class="padding_15">
              <h2 class="speed_text">Jaump cycle</h2>
              <div class="post_text">
                Post by : Den <span style="float: right">20-12-2019</span>
              </div>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- news section end -->

{% endblock %}
