{% extends 'header_footer.html' %} {% load static %} {% block content %}
<!-- header section end -->
<!-- cycle section start -->
<div class="cycle_section layout_padding">
  <div class="container">
    <h1 class="cycle_taital">Our cycle</h1>
    <p class="cycle_text">
      It is a long established fact that a reader will be distracted by the
    </p>
    {% for i in product_data %}
    <form action="" method="POST">
      {% csrf_token %}
      <div class="cycle_section_2 layout_padding">
        <div class="row">
          <div class="col-md-6">
            <div class="box_main">
              <div class="image_2"><img src="{{i.product_image.url}}" /></div>
            </div>
          </div>
          <div class="col-md-6">
            <h1 class="cycles_text">{{i.product_name}}</h1>
            <p class="lorem_text">{{i.product_desc}}</p>
            <div class="btn_main">
              <div class="buy_bt">
                <a href="{% url 'add_to_cart' i.id %}"
                  ><button class="btn btn-primary" type="button">ADD TO CART</button
                ></a>
              </div>
              <h4 class="price_text">
                Price <span style="color: #f7c17b">$</span>
                <span style="color: #325662">{{i.product_price}}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </form>
    <div class="read_btn_main">
      <div class="read_bt"><a href="#">Read More</a></div>
    </div>
  </div>
</div>
<!-- cycle section end -->
{% endblock %}
