{% load static %} {% extends 'header_footer.html' %} {% block content %}



<div class="page-banner-area bg-1">
    <div class="container">
        <div class="page-banner-content">
            <h1>Privacy Policy</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>


<div class="privacy-policy-area pt-70 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="privacy-policy-content">
                    < h2>Welcome To Our Evib Privacy Policy Center</h2>
                        <div class="top-image">
                            <img src="{% static 'assets/images/privacy-policy-img.webp' %}" alt="image">

                        </div>
                        <h3>Our Evib Sunglass Privacy Policy</h3>

                        <p>Many desktop publishing packages and web page editose Lorem Ipsum as their default model text, and a search for'lorem ipsum' will uncover many web sites still in theiry. Various versions have evolved over the years, sometimes by
                            accident, sometimes on purpose (injected humour and the like).</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomised words which don't look even slightly believable.</p>

                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure tn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tepeat predefined chunks as necessary, making this the
                            first g enerator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handfu</p>
                        <h3>The Type Of Personal Information We Collect</h3>
                        <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structu generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                            non-c h aracteristic words etc.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College ininia,
                            l o oked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through of the word in classical literature, discovered the undoubtable source.</p>
                        <h3>How We Collect Personal Information</h3>
                        <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus BonMalorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise onheory of ethics, very popular during the Renaissance. The first
                            l i ne Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a lineion 1.10.32.</p>
                        <p>The standard chunk of Lorem Ipsum used since th is reproduced below for those interested. Sections 1.10.32 and 1.10. from "de Finibus Bonorum et Malorum" byo are also reproduced in their exact original form, accompanied by English
                            versions from the 1914 translation by H. Rackham.</p>
                        <h3>Personal Information We Collect About You From Others</h3>
                        <p>It is a long established fact that a reader will be died by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                            ' Content here, content here', making it look like readable English.</p>
                        <p>Many desktop publishing packages and web page ors now use Lorem Ipsum as their default model text, and a search for ' accident, sometimes on purpose (injected humour and the like).</p>

                        <h3>How We Use Personal Information</h3>
                        <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Fininorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of s, very popular during the Renaissance. The
                            fir st line Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from ae in section 1.10.32.</p>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced be those interested. Sections 1.10.32 and 1.10. from "de Finibus Bonorum et Malorum" by Cicero are alproduced in their exact original form, accompanied by English
                            versions from the 1914 translation by H. Rackham.</p>
                        <h3>When We Disclose Your Personal Information</h3>

                        <p>Many desktop publishing packages and web page editors now usem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infanrious versions have evolved over the years, sometimes
                            by accident, sometimes on purpose (injected humour and the like).</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majoy have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure then't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat pred chunks as necessary, making this
                            the first generator on the Internet. It uses a dictionary of over 200 Latin words,ined with a handful of model</p>
                        <h3>Where We Transfer And/Or Store Your Personal Information</h3>

                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. point of using Lorem Ipsum is that it has a more-or-less normal distribution of as opposed to using 'Content
                            here, content here', making it look like readable English.</p>
                        <h3>How We Keep Your Personal Information Secure</h3>

                        <p>Many desktop publishing packages and web page editors now use Losum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their iancy. Various versions have evolved over the years, sometimes
                            by accident, sometimes on purpose (injected humour and the like).</p>
                        <h3>How You Can Contact Us</h3>
                        <p>Many desktop publishing packages and web page editors now usm Ipsum as their default model text, and a search for'lorem ipsum' will uncover many web sites still in their infancy. Variversions have evolved over the years, sometimes
                            by <a href="#"><span class="__cf_email__" data-cfemail="7c0c0e150a1d1f05521f141d110c1513123c390a151e28141911190f521f1311">[email&#160;protected]</span></a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="single-shop-sidebar-widget search-bar">
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Search" class="form-control">
                                <button type="submit" class="search-btn"><i class="flaticon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="single-shop-sidebar-widget categories">
                        <h3>Categories</h3>
                        <ul>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="categoriesCheck1">
                                    <label class="form-check-label" for="categoriesCheck1">
                            Sunglasses
                            </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="categoriesCheck2">
                                    <label class="form-check-label" for="categoriesCheck2">
                            Keyhole Bridge
<                           /label>
                                </div>
                                    </li>
                                     <li>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="categoriesCheck3">
                                <label class="form-check-label" for="categoriesCheck3">
                            Pilot Style
                            </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="categoriesCheck4">
                                    <label class="form-check-label" for="categoriesCheck4">
                            Sunglasses Style
                            </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="categoriesCheck5">
                                    <label class="form-check-label" for="categoriesCheck5">
                            Scaglia Round
                        </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="single-shop-sidebar-widget contact">
                        <h3>Quick Contact To Help?</h3>
                        <p>Excepteur sint occaecat non culpa officia deserunt mollit anim laborum.</p>
                        <a href="contact-us.html" class="default-btn style5">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}