{% extends 'seller_header_footer.html' %}
{% load static %}
{% block content %}
<div class="page-banner-area bg-1">
<div class="container">
<div class="page-banner-content">
<h1>Forgot Password</h1>
<ul>
<li><a href="index.html">Home</a></li>
<li>Forgot Password</li>
</ul>
</div>
</div>
</div>


<div class="forgot-password-area ptb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-9 col-lg-10">
<div class="row">
<div class="col-lg-6">
<div class="forgot-password-content">
<h3>Forgot Your Password?</h3>
 <p>Not to worry, we got you! Let’s get you a new password.
Please enter your email address or your Username.</p>
<form action="{% url 'seller_forgot_password' %}" method="POST">
    {% csrf_token %}
<div class="form-group">
<label>Email *</label>
<input type="text" class="form-control" name="email" >
</div>
<div class="form-group">
<label>Security Code *</label>
<input type="text" class="form-control">
</div>
<div class="form-group">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
<label class="form-check-label" for="flexCheckDefault">
I agree to <a href="terms-condition.html">terms & policy</a>
</label>
</div>
</div>
<button type="submit" class="default-btn style5">Reset Password</button>
</form>
</div>
</div>
<div class="col-lg-6">
<div class="forgot-password-image">
<img src="{% static 'assets/images/user-image/user-img-3.webp' %}" alt="image">
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock  %}