{% extends 'seller_header_footer.html' %}
{% load static %}  {% block content %}

<div class="page-banner-area bg-1">
<div class="container">
<div class="page-banner-content">
<h1>seller_Register</h1>
<ul>
<li><a href="index.html">Home</a></li>
<li>seller_Register</li>
</ul>
</div>
</div>
</div>


<div class="register-area ptb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-9 col-lg-10">
<div class="row">
<div class="col-lg-6">
<div class="register-left-content">
<div class="register-image">
<img src="{% static 'assets/images/user-image/user-img-2.webp' %}" alt="image">
</div>
<div class="register-btns">
<ul>
<li>
<a href="https://www.facebook.com/" target="_blank">Continue with Facebook</a>
</li>
<li>
<a href="https://www.google.com/" target="_blank">Continue with Google</a>
</li>
<li>
<a href="https://www.apple.com/" target="_blank">Continue with Apple</a>
</li>
</ul>
</div>
</div>
</div>
{{msg}}
<div class="col-lg-6">
<div class="register-content">
    
<h3>Create An Account</h3>
<p>Already have an account? <a href="login.html">Login</a></p>
<form action="{% url 'seller_register' %}" method="POST" >
    {% csrf_token %}
<div class="form-group">
<label>seller_name</label>
<input type="text" name="fname" class="form-control">
</div>
<div class="form-group">
<label>seller_Email *</label>
<input type="email" name="email" class="form-control">
</div>
<div class="form-group">
<label>seller_Password *</label>
<input type="password" name="pass" class="form-control">
</div>
<div class="form-group">
<label>Confirm Password *</label>
<input type="password" name="cpass" class="form-control">
</div>

<div class="form-group">
<ul class="d-flex justify-content-between">

<button type="submit" class="default-btn style5">Submit & Register</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}