{% extends 'seller_header_footer.html' %}
{% load static %}
{% block content%}

<div class="page-banner-area bg-1">
<div class="container">
<div class="page-banner-content">
<h1>Reset Password</h1>
<ul>
<li><a href="index.html">Home</a></li>
<li>Reset Password</li>
</ul>
</div>
</div>
</div>


<div class="reset-password-area ptb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-9 col-xl-10">
<div class="row">
<div class="col-lg-6">
<div class="reset-password-image">
<img src="{% static 'assets/images/user-image/user-img-4.webp' %}" alt="image">
</div>
</div>
<div class="col-lg-6">
<div class="reset-password-content">
<h3>Reset Password?</h3>
<p>Please create a new password that you don’t use on any other site.</p>
<form action="{% url 'seller_reset_password' %}" method="post" >
    {% csrf_token %}
<div class="form-group">
<label>Password *</label>
<input type="text" class="form-control" name="pass">
</div>
<div class="form-group">
<label>Confirm Your Password *</label>
<input type="password" class="form-control" name="cpass">
</div>
<div class="form-group">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
<label class="form-check-label" for="flexCheckDefault">
I agree to <a href="terms-condition.html">terms & policy</a>
</label>
</div>
</div>
<button type="submit" class="default-btn style5">Reset Password</button>
</form>
<div class="password-info">
<h4>Password Must:</h4>
<p>Be between 9 and 64 characters Include at least tow of the following:</p>
<ul>
<li>An uppercase character</li>
<li>A lowercase character</li>
<li>A number</li>
<li>A special character</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}