{% extends "header.html" %}
{% load static %}
{% block content %}
    <!-- contact form -->
    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for i in cart_data %}
								<tr class="table-body-row">
									<td class="product-remove"><a href="{% url 'remove_cart' i.id %}"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img src="{{i.prodcutid.productpic.url}}" alt=""></td>
									<td class="product-name">{{i.prodcutid.productname}}</td>
									<td class="product-price">${{i.prodcutid.productprice}}</td>
									<td class="product-quantity"><input type="number" placeholder="0"></td>
									<td class="product-total">{{i.prodcutid.productprice}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="cart-buttons">
					<a href="{% url 'checkout' %}" class="boxed-btn black">Check Out</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->
	{% endblock %}