<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>iso3</th>
            <th>iso2</th>
            <th>phonecode</th>
            <th>capital</th>
            <th>currency</th>
            <th>native</th>
        </tr>
        <tr>
            <td>{{mydata.id}}</td>
            <td>{{mydata.name}}</td>
            <td>{{mydata.iso3}}</td>
            <td>{{mydata.iso2}}</td>
            <td>{{mydata.phonecode}}</td>
            <td>{{mydata.capital}}</td>
            <td>{{mydata.currency}}</td>
            <td>{{mydata.native}}</td>
        </tr>
    </table>
</body>
</html>