{% extends "header_footer.html" %} {% load static %} {% block content %}

<div class="page-banner-area bg-1">
  <div class="container">
    <div class="page-banner-content">
      <h1>Products Details</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Products Details</li>
      </ul>
    </div>
  </div>
</div>

<div class="products-details-area pt-70 pb-45">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop-sidebar">
          <div class="single-shop-sidebar-widget search-bar">
            <form>
              <div class="form-group">
                <input type="text" placeholder="Search" class="form-control" />
                <button type="submit" class="search-btn">
                  <i class="flaticon-search"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="single-shop-sidebar-widget categories">
            <h3>Categories</h3>
            <ul>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="categoriesCheck1"
                  />
                  <label class="form-check-label" for="categoriesCheck1">
                    Sunglasses
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="categoriesCheck2"
                  />
                  <label class="form-check-label" for="categoriesCheck2">
                    Keyhole Bridge
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="categoriesCheck3"
                  />
                  <label class="form-check-label" for="categoriesCheck3">
                    Pilot Style
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="categoriesCheck4"
                  />
                  <label class="form-check-label" for="categoriesCheck4">
                    Sunglasses Style
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="categoriesCheck5"
                  />
                  <label class="form-check-label" for="categoriesCheck5">
                    Scaglia Round
                  </label>
                </div>
              </li>
            </ul>
          </div>
          <div class="single-shop-sidebar-widget price-filter">
            <h3>Filter By Price</h3>
            <div class="range-slider">
              <div id="tooltip">$</div>
              <input
                id="range"
                type="range"
                step="10"
                value="500"
                min="10"
                max="1000"
              />
            </div>
            <ul class="price-list d-flex justify-content-between">
              <li>Form <span>$10</span></li>
              <li>To <span>$1000</span></li>
            </ul>
            <button class="default-btn style5">Filter</button>
          </div>
          <div class="single-shop-sidebar-widget color-and-item">
            <h3>Color & Item Condition</h3>
            <h5>Color</h5>
            <ul>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="colorCheck1"
                  />
                  <label class="form-check-label" for="colorCheck1">
                    Red(50)
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="colorCheck2"
                  />
                  <label class="form-check-label" for="colorCheck2">
                    Green(60)
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="colorCheck3"
                  />
                  <label class="form-check-label" for="colorCheck3">
                    Blue(54)
                  </label>
                </div>
              </li>
            </ul>
            <h5>Item Condition</h5>
            <ul>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="itemCheck1"
                  />
                  <label class="form-check-label" for="itemCheck1">
                    New(1507)
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="itemCheck2"
                  />
                  <label class="form-check-label" for="itemCheck2">
                    Refurbished(70)
                  </label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="itemCheck3"
                  />
                  <label class="form-check-label" for="itemCheck3">
                    Used(32)
                  </label>
                </div>
              </li>
            </ul>
          </div>
          <div class="single-shop-sidebar-widget contact">
            <h3>Quick Contact To Help?</h3>
            <p>
              Excepteur sint occaecat non culpa officia deserunt mollit anim
              laborum.
            </p>
            <a href="contact-us.html" class="default-btn style5">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop-details-content">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="products-details-img">
                <img src="{{ single_product.pimage.url}}" />
              </div>
            </div>
            <div class="col-lg-7">
              <div class="products-details-content">
                {{msg}}
                <div class="top-content">
                  <div class="price">
                    <span class="new-price">${{single_product.price}}</span>
                  </div>
                  <h3>{{single_product.pname}}</h3>
                  <p>{{single_product.desc}}</p>
                </div>
                <ul class="btns">
                  <li>
                    <form action="{% url 'add_to_cart' single_product.id %}" method="post">
                        {% csrf_token %}
                      <input type="submit" class="default-btn style5">Add To Cart</a>
                    </form>
                  </li>
                  <li>
                    <a href="compare.html" class="link-btn">
                      <i class="flaticon-swap"></i>
                    </a>
                    <a href="wishlist.html" class="link-btn">
                      <i class="flaticon-heart"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
