{% extends 'header_footer.html' %} {% block content %} {% load static %}

<div class="page-banner-area bg-1">
  <div class="container">
    <div class="page-banner-content">
      <h1>About Us</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ul>
    </div>
  </div>
</div>

<div class="about-area ptb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="about-img-one">
                <img src="assets/images/about/about-img-1.webp" alt="image" />
                <div class="play-btn">
                  <a
                    class="popup-youtube"
                    href="https://www.youtube.com/watch?v=6WQCJx_vEX4"
                  >
                    <i class="fa-solid fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="about-img-two">
                <img src="assets/images/about/about-img-2.webp" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <span class="sub-title">About evib</span>
          <h2>We Inspire You To Bring Your Fashion In Real Life</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod
            tempo incididunt ut labore et dolore magna aliqua. Quis ipsum
            suspendisse ultrice risus commodo viverra maecenas accumsan lacus
            vel facilisis.
          </p>
          <div class="fun-facts">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-6">
                <div class="single-funfacts">
                  <h1>6k+</h1>
                  <span>Award Winning</span>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-6">
                <div class="single-funfacts">
                  <h1>20k+</h1>
                  <span>Years Of Experience</span>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-6">
                <div class="single-funfacts">
                  <h1>12k+</h1>
                  <span>Happy Customer</span>
                </div>
              </div>
            </div>
          </div>
          <a href="shop-full-width.html" class="default-btn style5">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-area">
  <div class="container">
    <div class="feature-overly bg-f3f7f7 pt-70 pb-45">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-item style2 d-flex align-items-center">
            <div class="icon">
              <i class="flaticon-delivery"></i>
            </div>
            <div class="content">
              <h3>Fast & Secure Delivery</h3>
              <p>
                Get free shipping on orders over $100 within the 10 To 15 Days
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-item style2 d-flex align-items-center">
            <div class="icon">
              <i class="flaticon-refund"></i>
            </div>
            <div class="content">
              <h3>Money Back Guarantee</h3>
              <p>
                We’re committed to the perfect fit get full refund on any our
                returns
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature-item style2 d-flex align-items-center">
            <div class="icon">
              <i class="flaticon-customer-service"></i>
            </div>
            <div class="content">
              <h3>Pro Quality Support</h3>
              <p>
                Ready to help you with any questions related to products item
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-area pt-70 pb-45">
  <div class="container">
    <div class="section-title style2 text-center">
      <span class="sub-title">Our Team</span>
      <h2>Meet Our Lovely Team</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="single-team-card">
          <div class="team-img">
            <img src="assets/images/team/team-img-1.webp" alt="image" />
            <div class="social-content">
              <div class="control-btn">
                <img src="assets/images/icon/share-icon.svg" alt="icon" />
              </div>
              <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://instagram.com/?lang=en" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://linkedin.com/?lang=en" target="_blank"
                    ><i class="fa-brands fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" target="_blank"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Rosalina Williamson</h3>
            <span>CEO & Founder</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-team-card">
          <div class="team-img">
            <img src="assets/images/team/team-img-2.webp" alt="image" />
            <div class="social-content">
              <div class="control-btn">
                <img src="assets/images/icon/share-icon.svg" alt="icon" />
              </div>
              <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://instagram.com/?lang=en" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://linkedin.com/?lang=en" target="_blank"
                    ><i class="fa-brands fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" target="_blank"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Braitlyn Decostar</h3>
            <span>Lead Assistant Company</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-team-card">
          <div class="team-img">
            <img src="assets/images/team/team-img-3.webp" alt="image" />
            <div class="social-content">
              <div class="control-btn">
                <img src="assets/images/icon/share-icon.svg" alt="icon" />
              </div>
              <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://instagram.com/?lang=en" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://linkedin.com/?lang=en" target="_blank"
                    ><i class="fa-brands fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" target="_blank"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Wilsonark Dose</h3>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feed-back-area bg-f3f7f7 pt-70 pb-45">
  <div class="container">
    <div class="section-title style2">
      <span class="sub-title">Our Testimonial</span>
      <h2>Our Customer Feedback</h2>
    </div>
    <div class="feedback-slider style2 owl-carousel owl-theme">
      <div class="single-feedback-card style2">
        <div class="client-img">
          <img
            src="assets/images/testimonial/testimonial-img-1.webp"
            alt="image"
          />
        </div>
        <div class="content">
          <div class="rating">
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
          </div>
          <p>
            “There are many variations of passages lorem Ipsum available but
            majority have suffered alteration in some form by injected humour or
            randomised words which don't look slightly believable dolor.”
          </p>
          <h3>Dunald Zonatan</h3>
          <span>Web Designer</span>
          <div class="quote-icon">
            <img src="assets/images/icon/quote-icon-2.svg" alt="icon" />
          </div>
        </div>
      </div>
      <div class="single-feedback-card style2">
        <div class="client-img">
          <img
            src="assets/images/testimonial/testimonial-img-2.webp"
            alt="image"
          />
        </div>
        <div class="content">
          <div class="rating">
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
          </div>
          <p>
            “There are many variations of passages lorem Ipsum available but
            majority have suffered alteration in some form by injected humour or
            randomised words which don't look slightly believable dolor.”
          </p>
          <h3>Amanda Brown</h3>
          <span>Web Developer</span>
          <div class="quote-icon">
            <img src="assets/images/icon/quote-icon-2.svg" alt="icon" />
          </div>
        </div>
      </div>
      <div class="single-feedback-card style2">
        <div class="client-img">
          <img
            src="assets/images/testimonial/testimonial-img-3.webp"
            alt="image"
          />
        </div>
        <div class="content">
          <div class="rating">
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
            <i class="flaticon-star-1"></i>
          </div>
          <p>
            “There are many variations of passages lorem Ipsum available but
            majority have suffered alteration in some form by injected humour or
            randomised words which don't look slightly believable dolor.”
          </p>
          <h3>Mike Wazomski</h3>
          <span>CEO & Founder</span>
          <div class="quote-icon">
            <img src="assets/images/icon/quote-icon-2.svg" alt="icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-area pt-70 pb-40">
  <div class="container">
    <div class="top-title-and-content">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section-title style2">
            <span class="sub-title">Our Blog</span>
            <h2>Our Latest News & Blog</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-content">
            <a href="blog-grid.html" class="default-btn style5"
              >More Articles</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-card">
          <div class="blog-img">
            <a href="blog-details-with-sidebar.html">
              <img src="assets/images/blog/blog-img-1.webp" alt="image" />
            </a>
          </div>
          <div class="content">
            <ul class="info-list">
              <li>
                <i class="flaticon-user"></i>
                <a href="#">Dunald Kim</a>
              </li>
              <li>
                <i class="fa-regular fa-calendar"></i>
                01 November 2022
              </li>
            </ul>
            <h3>
              <a href="blog-details-with-sidebar.html"
                >Here’s Why Blue Light Glasses Can Help You With Night
                Sleep...</a
              >
            </h3>
            <a href="blog-details-with-sidebar.html" class="default-btn style2"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-card">
          <div class="blog-img">
            <a href="blog-details-with-sidebar.html">
              <img src="assets/images/blog/blog-img-2.webp" alt="image" />
            </a>
          </div>
          <div class="content">
            <ul class="info-list">
              <li>
                <i class="flaticon-user"></i>
                <a href="#">Michel Jhon</a>
              </li>
              <li>
                <i class="fa-regular fa-calendar"></i>
                01 November 2022
              </li>
            </ul>
            <h3>
              <a href="blog-details-with-sidebar.html"
                >Sports Eye Safety And What You Should Know About This
                Subject...</a
              >
            </h3>
            <a href="blog-details-with-sidebar.html" class="default-btn style2"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog-card">
          <div class="blog-img">
            <a href="blog-details-with-sidebar.html">
              <img src="assets/images/blog/blog-img-3.webp" alt="image" />
            </a>
          </div>
          <div class="content">
            <ul class="info-list">
              <li>
                <i class="flaticon-user"></i>
                <a href="#">Abraham Linkon</a>
              </li>
              <li>
                <i class="fa-regular fa-calendar"></i>
                01 November 2022
              </li>
            </ul>
            <h3>
              <a href="blog-details-with-sidebar.html"
                >Come November 2022 To Learn About The Glaucoma And Your Eye
                Health</a
              >
            </h3>
            <a href="blog-details-with-sidebar.html" class="default-btn style2"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="partner-area bg-f3f7f7 ptb-70">
  <div class="container">
    <div class="partner-slider owl-carousel owl-theme">
      <div class="single-partner-item">
        <a href="#">
          <img
            src="assets/images/partner-logo/partner-logo-1.webp"
            alt="partner logo"
          />
        </a>
      </div>
      <div class="single-partner-item">
        <a href="#">
          <img
            src="assets/images/partner-logo/partner-logo-2.webp"
            alt="partner logo"
          />
        </a>
      </div>
      <div class="single-partner-item">
        <a href="#">
          <img
            src="assets/images/partner-logo/partner-logo-3.webp"
            alt="partner logo"
          />
        </a>
      </div>
      <div class="single-partner-item">
        <a href="#">
          <img
            src="assets/images/partner-logo/partner-logo-4.webp"
            alt="partner logo"
          />
        </a>
      </div>
      <div class="single-partner-item">
        <a href="#">
          <img
            src="assets/images/partner-logo/partner-logo-5.webp"
            alt="partner logo"
          />
        </a>
      </div>
      <div class="single-partner-item">
        <a href="#">
          <img
            src="assets/images/partner-logo/partner-logo-6.webp"
            alt="partner logo"
          />
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
