<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="https://www.youtube.com/"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="">Firstname</label>
      <input type="text" name="fname" /> <br />
      <label for="">Password</label>
      <input type="password" name="pwd" /> <br />
      <label for="">DOB</label>
      <input type="date" name="" id="" /> <br />
      <label for="">FAV COLOR</label>
      <input type="color" name="" id="" /> <br />
      <label for="">GENDER</label>
      <input type="radio" name="gen"/>Male
      <input type="radio" name="gen" />Male
      <input type="radio" name="gen"  />Male
      <input type="radio" name="gen" id="" />Male
      <input type="radio" name="gen" id="" />Male
      <input type="radio" name="gen" id="" />Male
      <input type="radio" name="gen" id="" />Female <br />
      <label>Hobbies</label>
      <input type="checkbox" name="" id="" />swiimgn
      <input type="checkbox" name="" id="" />rsgrsg
      <input type="checkbox" name="" id="" />sgsg
      <input type="checkbox" name="" id="" />gsgs
      <input type="checkbox" name="" id="" /> sgsgs<br>
      <input type="submit" value="SUbmit" />
      <button type="submit">rnlgern</button>

      <input type="reset" value="RESET" />
      <button type="reset">geghgrjemgrmng</button>
    </form>
  </body>
</html>
