{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		

    </head>
	<body>
		
<h1>Visitor Data</h1>
<h4><li><a href="{% url 'back' %}">Home</a></li></h4>

	<hr>  <!-- hr tag for horizontal line-->
	<form name="signup" method="post" action="{% url 'edit_exit' %}" enctype="multipart/form-data">
		{% csrf_token %}
	{% for i in signups %}

	Name : {{i.fname}}<br>
	Last Name : {{i.lname}}<br>
	Mobile : {{i.mobile}}<br>
	Address : {{i.address}}<br>
	Gender : {{i.gender}}<br>
	Status : {{i.current_status}}<br>
	Company Name : {{i.cname}}<br>
	Purpose : {{i.purpose}}<br>
	tosee : {{i.tosee}}<br><br>
	<td>Entry Status</td>
	<!--<td><input type="radio" value="in" name="entry">In-->
	<td><input type="radio" value="exit" name="entry">Exit
	</td><br><br>
	<button type="submit" class="primary-btn order-submit">Submit </button>
	<hr>
 
	{% endfor %}


		
		
	</body>
</html>
{% endblock %}